<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file> file-downloader.log </file>
        <append>true</append>
    </appender>

    <logger name="ch.qos" level="WARN"/>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

</configuration>